In [1]:
#Assignment No 1 Solutions

In [4]:
#Q1.
Name = "Vaibhav"      #(i)
print(type(Name))

l = [1,2,3,"Akshay",13.7]    #(ii)
print(type(l))

f = 14.78                 #(iii)
print(type(f))

Tuple = (Name, l, f)      #(iv)
print(type(Tuple))

<class 'str'>
<class 'list'>
<class 'float'>
<class 'tuple'>

In [5]:
#Q2.
var1 = ''
print(type(var1))

var2 = '[DS, ML, Python]'
print(type(var2))

var3 = ['DS', 'ML', 'Python']
print(type(var3))

var4 = 1
print(type(var4))

<class 'str'>
<class 'str'>
<class 'list'>
<class 'int'>

In [7]:
#Q3.
#(i) Division operator {used to do divisions and report values in float data type}
5 / 5     #Example

1.0

In [9]:
#(ii) Modulus operator {which gives us the remainder of division}
5 % 4     #Example-when 4 divides 5 remainder is 1

1

In [10]:
#(iii) Floor operation {It returns the integer value after division}
5 // 4    #Example-The value of division 5/4 is 1.25 hence floor operation return perfect integer value 1

1

In [11]:
#(iv) Exponent operator {Helps to write power of any number in python}
10 ** 2    #Example - Meaning is 10 to the power 2

100

In [13]:
#Q4.
l = [1, 1.34, "Manuu", True, 4, "Vaibhav", "Physics Wallah", False, 0, 0.00078]
for i in l :
    print(i)
    print(type(i))

1
<class 'int'>
1.34
<class 'float'>
Manuu
<class 'str'>
True
<class 'bool'>
4
<class 'int'>
Vaibhav
<class 'str'>
Physics Wallah
<class 'str'>
False
<class 'bool'>
0
<class 'int'>
0.00078
<class 'float'>

In [ ]:
#Q5.
A = int(input("Enter Number A"))
B = int(input("Enter Number B"))
R = A % B
while R == 0 :

In [17]:
#Q6.
p = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25]
for i in p :
    print(i)
    q = i % 3
    if q == 0 :
        print("Number divisible by 3")
    else :
        print("Number is not divisible by 3")

1
Number is not divisible by 3
2
Number is not divisible by 3
3
Number divisible by 3
4
Number is not divisible by 3
5
Number is not divisible by 3
6
Number divisible by 3
7
Number is not divisible by 3
8
Number is not divisible by 3
9
Number divisible by 3
10
Number is not divisible by 3
11
Number is not divisible by 3
12
Number divisible by 3
13
Number is not divisible by 3
14
Number is not divisible by 3
15
Number divisible by 3
16
Number is not divisible by 3
17
Number is not divisible by 3
18
Number divisible by 3
19
Number is not divisible by 3
20
Number is not divisible by 3
21
Number divisible by 3
22
Number is not divisible by 3
23
Number is not divisible by 3
24
Number divisible by 3
25
Number is not divisible by 3

In [19]:
#Q7.
#When we can play with the indices of the varable then those objects are calle mutable.For example consider list
l = [1, 2, True, 10]
l[2] = False
l[3] = 100000  
print(l)

[1, 2, False, 100000]

In [21]:
#Wherever we are not allowed to play with the indices of variable those objects are imutable.For example consider string
Name = "Vaibhav"
Name[2] = "o"

TypeError: 'str' object does not support item assignment